<!DOCTYPE html>
<html>
<head>
    <title>{{ project_name }}</title>
</head>
<body>
    <h1>🚀 {{ project_name }}</h1>
    <h2>Deployed using Ansible</h2>

    <p>Web Server: {{ inventory_hostname }}</p>
    

    <h3>Created by Arun P S</h3>
</body>
</html>
